.flex {
    display: flex;
}
.container-small {
    width: 1170px;
    margin: 0 auto;
}
.container-small-small {
    width: 1000px;
    margin: 0 auto;
}
.mt {
    margin-top: 10px;
}
.white {
    color: #fff;
}
.fs {
    font-size: 12px;
}